<ng-container *ngIf="repos">
  <h1 class="text-center">
    <span class="text-center-span">{{ username }}</span
    >&nbsp; Repositories
  </h1>
  <ul>
    <li
      *ngFor="
        let repo of repos
          | slice: curPage * contentSize - contentSize:curPage * contentSize;
        trackBy: trackByFn
      "
      class="main-container follow-details-main padding-1"
      [routerLink]="['/repos', username, name, 'contributors']"
    >
      <p class="person-text">{{ repo?.login }}</p>
      <p class="person-text">{{ repo?.name }}</p>
    </li>
  </ul>
  <ng-container *ngIf="numberOfPages / contentSize > 1">
    <div class="pagination">
      <button
        class="pagination-button"
        [disabled]="curPage == 1"
        (click)="curPage = curPage - 1"
      >
        prev
      </button>
      <ng-container *ngFor="let page of repos; index as i">
        <div
          [ngClass]="{ 'active-pag': i == curPage }"
          *ngIf="shouldDisplay(i)"
        >
          <a (click)="curPage = i">{{ i }}</a>
        </div>
      </ng-container>

      <button
        class="pagination-button"
        [disabled]="curPage >= numberOfPages / contentSize"
        (click)="curPage = curPage + 1"
      >
        next
      </button>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="loadingService.loadingSpinner | async as loading">
  <app-loading *ngIf="loading"> </app-loading>
</ng-container>
