<nav class="navar">
  <div class="nav-container">
    <a [routerLink]="['/users']" class="logo-" [routerLink]="['/']" routerLinkActive="isActive">
    <img src="../../../assets/img/logo.png" alt="logo" class="logo" />
    </a>
    <ul>
      <li>
        <a [routerLink]="['/users']" routerLinkActive="isActive" [routerLinkActiveOptions]="{exact: true}"
        >Users</a>
      </li>
      <li>
        <a (click)="isModal = true" [ngStyle]="{'color': isModal ? 'yellow': ''}">Newsletter</a>
      </li>
    </ul>
  </div>
</nav>

<app-modal *ngIf="isModal" (close)="isModal = false"></app-modal>